* {
    margin: 0;
    padding: 0;
}
body {
    background: #f0f0f0;
    font-family: monospace;
}
.wrapper {
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}
.stopwatch {
    margin: 150px 0 20px;
    font-size: 7vmax;
}
button {
    position: relative;
    margin: 0 5px;
    padding: 0 20px;
    background: #ddd;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 29px;
    line-height: 1.6;
    cursor: pointer;
}
button:hover {
    background: #e5e5e5;
}
button:active {
    top: 2px;
    outline: none;
}
button:focus {
    outline: none;
}
.info-block {
    margin: 20px;
    font-size: 22px;
}
.info-item {
    margin: 0 0 6px;
}